<div class="footer">
  <div style="font-size: 1.25em; margin-top: -.3em;"><a href="/posts">Posts</a> | <a href="/projects">Projects</a> | <a href="/about">About</a></div>
  <span class="copyright">{{ replace .Site.Copyright "{year}" now.Year | replaceRE "Benjamin Elder" `<a href="/about">Benjamin Elder</a>` | safeHTML }} <a class="nowrap" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a><span style="padding-left: .25em; padding-right: .25em;">-</span><a class="nowrap" href="https://github.com/BenTheElder/site">Source on <span class="emoji" style="background-image:url(/images/GitHub-Mark-Light-120px-plus.png)" title=":github:">:github:</span></a>{{if .GitInfo}}@<a href="https://github.com/BenTheElder/site/commit/{{.GitInfo.Hash}}">{{.GitInfo.AbbreviatedHash}}</a>{{end}}</span><span class="emoji" style="background-image:url(/images/slackmoji/ship_it_parrot.gif)" title=":ship_it_parrot:">:ship_it_parrot:</span>
</div>
</body>
</html>
