<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ partialCached "meta.html" . }}
  {{ partialCached "inlinecss.html" . }}
{{- if .Params.head }}
  {{.Params.head | safeHTML}}
{{end}}
</head>
<body ontouchstart="return true">
  <div class="header">
    <div class="left"><a href="/">elder</a></div>
    <a href="/" class="center"><img src="/images/ben_avatar_optim.jpg" class="circle-badge" style="width: 100%; width: 3em; height: 3em; border-width: .25em; margin-top: 0;" /></a>
    <div class="right"><a href="/">dev</a></div>
  </div>