<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ partialCached "meta.html" . }}
  {{ partialCached "inlinecss.html" . }}
{{- if .Params.head }}
  {{.Params.head | safeHTML}}
{{end}}
</head>
<body ontouchstart="return true">
  <div class="header">
    <div class="left"><code><a href="/">elder.dev</a></code></div>
    <a href="/" class="center"><img src="/images/ben_avatar_optim.jpg" class="circle-badge" style="display:none"/></a>
    <div class="right"><a href="/posts"><span class="emoji" style="background-image:url(/images/memo-blue-edit.png)" title="posts">posts</span></a><a href="https://www.twitter.com/BenTheElder"><span class="emoji" style="background-image:url(/images/twitter-blue.png); background-size: 110%" title="twitter">twitter</span></a><a href="https://www.github.com/BenTheElder"><span class="emoji" style="background-image:url(/images/github-mark-blue-crappy.png); background-size: 70%" title="github">github</span></a></div>
  </div>