{{ partial "header.html" . }}
<div id="content" class="centered-text">
  <div class="tile centered centered-text">
    <!--<h1 class="centered"><span class="" style="
        color: #00ff1e;
        background: black;
        padding-left: .3em;
        padding-right: .35em;
    ">404</span></h1>-->
    <h1 class="centered"><span class="triple-size">404</span></h1>
    <h1 class="centered">Page not found <span class="emoji" style="background-image:url(/images/emoji/emoji_u1f9d0.png)" title=":face_with_monocole:">:face_with_monocole:</span></h1>
    <h1 class="centered"><a href="/">home</a></h1>
  </div>
</div>
{{ partial "footer.html" . }}
