{{ partial "header.html" . }}
<div class="centered-text error-page">
  <div class="header">
    <div class="header-content">
      <div class="brand">Not Found</div>
    </div>
  </div>
  <div class="triple-size"><img src="/images/emoji/emoji_u1f50c.png" class="emoji" alt="Electric Plug"></img> 404 <img src="/images/emoji/emoji_u1f468_200d_1f4bb.png" class="emoji" alt="Technologist"></img></div>
  <div>No page was found at this address.</div>
  <br>
  <div><a href="/" class="button" style="border-color: black;"><div>Visit Homepage</div></a></div>
  <br>
</div>
{{ partial "footer.html" . }}
